/*Position logo and name in the navbar*/
.col.logo {
    border-right: 1px solid;
}

/*Brand sacing*/
.col.brand {
    margin-right: 180px;
}

/*Searchbox styling*/
.searchbox {
    margin-right: 240px;
}

/*Card Top*/
button.btn.btn-sm.btn-white {
    background-color: white;
}


/*Search Box Background*/
input.form-control.form-control-sm.mr-sm-1 {
    background-color: #8080801c;
}

/*Navbar length*/
nav.container.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-white {
    height: 77px;
}

/*Navbar Wrapper*/
.container-full.header {
    padding: 39px;
    border-bottom: 1px solid #80808054;
    background-color: white;
    border-radius: 0px;
    margin-bottom: 0px;
}

.col-md-5.loginform {
    padding-top: 5%;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  

  /* card dtyle to fit images */
  .card-img-top {
    height: 100%;
    object-fit: cover;
}

.card{
    width: 570px;
}

small#hint_id_password1 {
    display: none;
}

small#hint_id_username {
    display: none;
}

.card {
    margin-top: 15px;
}

img.rounded-circle.z-depth-0 {
    height: 40px;
}
p.mb-0.imgcred {
    padding-left: 6px;
    padding-top: 6px;
}

img.icons {
    padding-left: 0px;
    padding-right: 2px;
}

textarea#id_image_caption {
    height: 37px;
    width: inherit;
}

span.asteriskField {
    color: darkred;
    padding-left: 3px;
}

input.comment-form {
    width: 407px;
}

button.btn.btn-sm.btn-outline-info.waves-effect.waves-light {
    width: 20%;
    inline-size: auto;
    height: 32px;
}

label.col-form-label.requiredField {
    display: none;
}
textarea.form-control {
    height: 35px;
}

primary.waves-effect.waves-light {
    height: 1px;
    width: 9px;
}



/* PROFILE PAGE */
