{% extends 'instagram/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="jumbotro">
    <!-- Row divider for image -->
    <div class="row mt-4">
        <!-- Image-Section -->
        <div class="col-md-1">
            <!-- Empty block -->
        </div>
        <div class="col-md-6">
            <section class="section pb-2">
                <div class="card">
                    <div class="card-header">
                        <div class="container-fluid">
                            <div class="row">
                                <img src="" class="col-md-3 rounded-circle">
                                <div class="col-md-7 username">
                                    <!-- Feature name in profile -->
                                    <blockquote class="blockquote">
                                        <p class="mb-0 imgcred">Username</p>
                                        <footer class="locationcred">Location</footer>
                                    </blockquote>
                                </div>
                                <div class="col-md-2 popupset">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-sm btn-white" data-toggle="modal"
                                        data-target="#exampleModalCenter">
                                        <img src="https://img.icons8.com/ios-glyphs/30/000000/ellipsis.png" width="20px"
                                            height="20px">
                                    </button>
                                    <!-- End Button trigger modal -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="https://www.mezcotoyz.com/mas_assets/cache/image/1/c/6/3/7267.Jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <div class="container-full">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="https://img.icons8.com/ios/50/000000/like.png" width="30px" height="30px">
                                    <!-- <img src="https://img.icons8.com/officel/80/000000/filled-like.png" width="30px" height="30px"> -->
                                    <img src="https://img.icons8.com/ios/50/000000/topic.png" width="30px"
                                        height="30px">
                                    <img src="https://img.icons8.com/ios/50/000000/upload.png" width="28px"
                                        height="28px">
                                </div>
                                <div class="col-md-6"></div>
                                <div class="col-md-2 highlight">
                                    <img src="https://img.icons8.com/ios/50/000000/bookmark-ribbon.png" width="30px"
                                        height="28px">
                                </div>
                            </div>
                        </div>
                        <div class="container-full">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <p class="mb-0 imgcredtime">Time Posted</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="text" name="addcomment" placeholder="  Add a comment ...">
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}