{% extends 'instagram/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="jumbotro">
    <!-- Row divider for image -->
    <div class="row mt-4">
        <!-- Image-Section -->
        <div class="col-md-1">
            <!-- Empty block -->
        </div>
        <div class="col-md-6">
            <section class="section pb-2">
            {% for image in images%}
                <div class="card">
                    <div class="card-header">
                        <div class="container-fluid">
                            <div class="row">
                                    <img src="{{ image.image_by.profile.pic.url }}" class="rounded-circle z-depth-0">                                                         <p class="mb-0 imgcred">{{image.image_by.username}}</p>
                                    <!-- <div class="col-md-7 username"> -->
                                    <!-- Feature name in profile -->
                                    <!-- <blockquote class="blockquote">
                                        <p class="mb-0 imgcred">{{image.image_by.username}}</p>
                                    </blockquote>
                                </div> -->
                                <div class="col-md-2 popupset">
                                    <!-- Button trigger modal -->
                                    <!-- <button type="button" class="btn btn-sm btn-white" data-toggle="modal"
                                        data-target="#exampleModalCenter">
                                        <img src="https://img.icons8.com/ios-glyphs/30/000000/ellipsis.png" width="20px"
                                            height="20px">
                                    </button> -->
                                    <!-- End Button trigger modal -->
                                </div>
                            </div>
                        </div> 
                    </div>
                    <a href="{% url 'post-detail' image.id%} "><img src="{{ image.image_post.url }}" class="card-img-top"
                        alt="..."></a>
                    <div class="card-body">
                        <div class="container-full">
                            <div class="row">
                                <div class="col-md-6">
                                    <img class="icons" src="https://img.icons8.com/ios/50/000000/like.png" width="30px" height="30px">
                                    <img class="icons" src="https://img.icons8.com/ios/50/000000/topic.png" width="30px"
                                        height="30px">
                                    <!-- <img src="https://img.icons8.com/ios/50/000000/upload.png" width="28px"
                                        height="28px"> -->
                                </div>
                                <div class="col-md-4"></div>
                                <!-- <div class="col-md-2 highlight">
                                    <img src="https://img.icons8.com/ios/50/000000/bookmark-ribbon.png" width="30px"
                                        height="28px">
                                </div> -->
                            </div>
                        </div>
                        <div class="container-full pt-2">
                            <p>
                                    {{image.image_caption}}
                            </p>
                            <p class="mb-0 imgcredtime">{{image.date_posted|timesince}} ago</p>
                        </div>
                    </div>
                    <div>
                        
                    </div>
                    <div class="card-footer ">
                        <input class="comment-form" type="text" name="addcomment" placeholder="  Add a comment ...">
                        <button type="submit" class="btn btn-sm btn-outline-info comment-button" >comment</button>
                    </div>
                </div>
            {% endfor %}
            </section>
        </div>
    </div>
</div>

{% endblock %}