<!-- Navigation Bar -->

<nav class=" navbar navbar-expand-lg navbar-light bg-white">
    <div class="container nav-bar-top">
        <a class="navbar-brand" href="{% url 'home' %}">
            <div class="row">
                <div class="col logo">
                    <img src="https://img.icons8.com/metro/50/000000/instagram-new.png" width="24" height="24">
                </div>
                <div class="col brand">
                    <img src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png">
                </div>
            </div>
        </a>
        {% if user.is_authenticated %}
        <div class="searchbox">
            <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search_results' %}" >
                <input name="user" class="form-control form-control-sm mr-sm-1" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-light btn-sm my-2 my-sm-0" type="submit">
                    <img src="https://img.icons8.com/ios/30/000000/search--v1.png" width="18" height="18">
                </button>
            </form>
        </div>

        <div class="navbar-right">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'post-create' %}">
                            <img src="https://img.icons8.com/ios/50/000000/plus.png"  width="24" height="24">
                    </a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#">
                            <img src="https://img.icons8.com/ios/50/000000/hearts.png" width="24" height="24">
                        </a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user-posts' user.username %}">
                        <img src="https://img.icons8.com/pastel-glyph/64/000000/user-male--v1.png" width="24"
                            height="24">
                    </a>
                </ul>
            </div>
                </li>

                <a class="nav-link" href="{% url 'logout' %}">
                        <img src="https://img.icons8.com/material/24/000000/exit.png" class="logout">
                </a>

            </ul>
        </div>
        {% else %}
        <div class="navbar-right">
                <ul class="navbar-nav mr-auto">
                    <!-- <li class="nav-item active"> -->
                        <a class="nav-link" href=" {% url 'login' %}">
                            Login
                        </a>
                    <!-- </li> -->
                    
        {% endif %}

    </div>
</nav>

<!-- End of navabar -->